.timer {
    fill: var(--ion-background-color);
}

.timer-circle {
    fill: none;
    stroke-width: 6px;
    cx: 50%;
    cy: 50%;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transform-box: view-box;
}

.timer-circle-general {
    stroke: var(--ion-color-success);
    r: 40px;
}

.timer-circle-segment {
    stroke: var(--ion-color-primary);
    r: 34px;
}

.timer-text {
    font-size: 18px;
    text-anchor: middle;
    font-weight: 600;
    fill: var(--ion-text-color);
}

.timer-subtext {
    font-size: 9px;
    fill: var(--ion-text-color);
}

.segment {
    border-radius: 10px !important;
    margin-top: 6px;
    margin-bottom: 6px;
    box-shadow: none !important;
}

.elapsed-5 {
    fill: #ffc185;
    stroke: var(--ion-color-step-150);
}

.elapsed-4 {
    fill: #ffaa71;
    stroke: var(--ion-color-step-150);
}

.elapsed-3 {
    fill: #ff875a;
    stroke: var(--ion-color-step-150);
}

.elapsed-2 {
    fill: #fb6944;
    stroke: var(--ion-color-step-150);
}

.elapsed-1 {
    fill: #ff4545;
    stroke: var(--ion-color-step-150);
}

.elapsed-any {
    fill: rgba(0, 0, 0, 0);
    stroke: var(--ion-color-step-150);
}
